body{
    background-color: #9c9c9c;
}

.button{

    background-color:#1a1c20;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:10px;
    padding:8px 20px;
    text-decoration:none;
    width: 50;
    
}

.button:hover {
    background-color:#f4f4f4;
    color: #1a1c20;
}

.button:active {
    position:relative;
    top:1px;
}

        
.container_vignettes
{
    display: flex;
    flex-wrap: wrap;
    background-color: #9c9c9c;
}

.container_detail
{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    background-color: #9c9c9c;
}

.box1 {
    box-shadow: 1px 6px 17px ;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 230px;
    max-width: 75px;
    padding: 10px;
    text-align:center;
    border:1px solid black;
    grid-column: 1 / 3;
    grid-row: 1;
    background: rgb(128, 196, 184);
}

.annonce_vignette  
{
    background-color: #ca6716a2;
    width: 200px;
    margin: 10px;
    margin-top: 90px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.annonce_vignette:hover 
{
    background-color: #3d3d3da2;
    width: 200px;
    margin: 10px;
    margin-top: 90px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.annonce_detail 
{
    background-color: #ca6716a2;
    width: 80%;
    margin: 180px;
    margin-top: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.annonce_detail2
{
    background-color: #ca6716a2;
    width: 80%;
    margin: 180px;
    margin-top: 150px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.vig2 {
    margin: 20px;
}



.image_vignette
{
    width: 100%;
    margin: auto;
}

.image_detail
{
    width: 80%;
    margin: auto;
}

.titre_vignette 
{
    font-size: 22px;
    text-align: center;
} 

.titre_detail
{
    font-size: 30px;
    text-align: center;
} 

.description_vignette
{
    font-size: 14px;
}

.description_detail
{
    font-size: 22px;
    text-align: center;
}
/*nav bar*/

nav{
    background: #ca6716a2;
    height: 80px;
    width: 100%;
    margin-left: -8px;
    position: top;
    z-index: 100;
}


.logo{
    padding: 15px 15px;
    float: left;
    color: #292107;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: white 0.1em 0.1em 0.2em, -1px 0 white, 0 1px white,
    1px 0 white, 0 -1px white;
}

nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #292107;
    font-size: 20px;
    padding: 15px 15px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: white 0.1em 0.1em 0.2em, -1px 0 white, 0 1px white,     1px 0 white, 0 -1px white;
  }
  a.active,a:hover{
    
    transition: .5s;
  }

a.active,a:hover{
    transition: .5s;
  }

  .checkbtn{
    font-size: 30px;
    
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  @media (max-width: 952px){
    nav ul li a{
      font-size: 16px;
    }
  }

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #4d5e6ebb;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
 
  }
  #check:checked ~ ul{
    left: 0;
  }
}  

/* fin nav bar*/
